{% extends 'glemping/base.html' %}
{% load static %}
{% block title %}News{% endblock title %}

{% block content %}
<h1>News</h1>
<div id="news">
    {% for post in posts %}
    <div id="news-list">
        <a href="{{ post.get_absolute_url }}">
            <h2>{{post.title}}</h2>
            <br>
            <img src="{{post.image.url}}" width="25%">

            <p class="date">Published {{post.publish}}</p>
            <p>
                {{post.body|truncatewords:30|linebreaks}}
            </p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}