


html {
  height: 100%;
  
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin:1px;

}

.hero-image {
  background-image: url(/static/hero-image.jpg);
  background-position:center;
  background-size: cover;
  position: relative;
  display: flex;
  height: 40vh;
  width:100vw;
  justify-content: left;
  align-items: center;
  
}

.hero-text img {
  height:18vw;
  background-color: rgba(20, 20, 20, 0.445);
  border-radius: 18vw;
  border: 2px solid black
}

.hero-hero-text {
  margin-top: 20px;
}

.topnav {
  background-color: #85CB33;
  overflow: auto;
  width: 100%;
}


.topnav a:hover {
  background-color: #254D32;
  color: black;
}

.navbar {
  width:95vw;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px 0px 12px 0px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 13.5vw; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

.active {
  background-color: #5BC0EB;
}


content {
  align-content: center;
  align-items: center;
  text-align: center;
}

footer {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  padding: 0.5rem;
  background-color:#85CB33;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-variant: small-caps;
}

footer  ul {
  list-style: none;
  list-style-type: none;
  text-align: center;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  justify-content: center;
}

footer div {
  flex: 0 0 33%;
  justify-content: center;
  text-align: center
}
footer h1 {
  font-size: x-large;
  text-align: center;
}

footer li {
  font-size: large;
  list-style-type: none;
  text-align: center;
  list-style: none;
  padding: 0.3em;
}

footer a {
  text-decoration: none;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-variant: small-caps;
  color: black;
}

#footer-1 {
  text-align: center;
  
}

#footer-1 img {
  max-height: 15rem;
}

#social {
  display: inline-flex;
}

#social img {
  height: 2em;
  padding: 0 1em 0 1em;
}

content {
  flex: 1 0 auto;
}

.activities {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: 20vw 20;
  grid-gap: 2vw;
}

.activity {
  border: 2px solid black;
  border-radius: 2vw;
  margin:2vw;
  background-color:rgba(0, 0, 0, 0.01);
  padding: 1rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  background-image: url(/static/backround.png);
  
}

.picture {
  flex:1 0 25%;
  width: 25%;
  align-self: center;
  margin: 5px;
  border: 2px solid black;
  max-width: 33.3%;
  gap: dense;
  
}

#news {
  display: inline-block;
  max-width: 1000px;
 
}

#news-list {
  border: 2px solid black;
  border-radius: 2vw;
  margin:2vw;
  background-color:rgba(0, 0, 0, 0.01);
  padding: 1rem;
}

#news-list a {
  text-decoration: none;
  font-size: medium;
  color: black;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-variant: small-caps;
}


.date {
  font-size: small;
}

#weather img {
  margin-left: 1%;
  margin-top: 1%;
}



iframe {
  border: 3px black solid;
  overflow: unset;
  margin-top: 20px;
  width: 50vw;
  
}

#booking-form {
  border: 2px solid black;
  border-radius: 2vw;
  margin:2vw;
  background-color:rgba(0, 0, 0, 0.01);
  padding: 1rem;
  justify-content: left;
}


.about-us {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.map {
  grid-column: col-start 1/ span 6;
}

.about {
  grid-column: col-start 7 / span 6;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

.review {
  color: black;
  margin-top:10px;
  border: 2px solid black;
  border-radius: 30px;
  grid-column: col-start 5 / span 4;
}

  @media (max-width:500px){

  
  content {
    max-height:fit-content;
  }

   .hero-image {
     background-size:cover;
     background-repeat: no-repeat;
     background-position: top;
     height: 80px;
     width: 100vw;
     margin: unset;
     justify-content: left;
   }

   
   .about-us {
     display: grid;
     grid-template-columns: 1;
     grid-template-rows: 2;
     align-self: left;
   }

   .map {
     display: grid;
     grid-row: 1;
     width: 95vw;
   }

   .map iframe {
     width: 95vw;
     align-self: left;
   }

   .about {
     display: grid;
     grid-row: 2;
     grid-column: 1;
     height: 30vh;
     width: 100vw;
   }
  
   #footer-1 {
     display: none;
   }

   footer {
     justify-content: center;
     padding: unset;
   }

   footer h1 {
     font-size: medium;
   }

   footer li {
     font-size: small;
   }
  .activities {
    display: unset;
  }

  .activity {
    padding: 2rem;
  }
  }

