{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/glemping.css' %}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="hero-image">
            <div class="hero-text">
                <img src="/static/kraces-logo-3.png">
            </div>

        </div>
        <div class="topnav">
            <div class="navbar">
                <a {% ifequal section 'home' %} class="active" {% endifequal %}
                    href="{% url 'glemping:home' %}">Home</a>
                <a {% ifequal section 'news' %} class="active" {% endifequal %}
                    href="{% url 'glemping:post_list' %}">News</a>
                <a {% ifequal section 'activities' %} class="active" {% endifequal %}
                    href="{% url 'glemping:activity_list' %}">Activities</a>
                <a {% ifequal section 'booking' %} class="active" {% endifequal %}
                    href="{% url 'glemping:booking' %}">Reserve</a>
                <a {% ifequal section 'gallery' %} class="active" {% endifequal %}
                    href="{% url 'glemping:gallery_list' %}">Gallery</a>
                <a {% ifequal section 'reviews' %} class="active" {% endifequal %}
                    href="{% url 'glemping:reviews' %}">Reviews</a>
                <a {% ifequal section 'about' %} class="active" {% endifequal %} href="{% url 'glemping:about' %}">About
                    us</a>
            </div>
        </div>
    </header>
    <content>
        {% block content %}
        {% endblock content %}
    </content>
    <footer>
        <div id="footer-2">
            <h1>Quicklinks</h1>
            <ul>
                <li><a href="{% url 'glemping:post_list' %}">News</a></li>
                <li><a href="{% url 'glemping:activity_list' %}">Activities</a></li>
                <li><a href="{% url 'glemping:booking' %}">Book Now</a></li>
                <li><a href="{% url 'glemping:gallery_list' %}">Gallery</li>
                <li><a href="{% url 'glemping:reviews' %}">Reviews</a></li>
            </ul>
        </div>
        <div id="footer-3">
            <h1>Contacts</h1>
            <ul>
                <li>Call: +371 22 430 265</li>
                <li>ingus.hartmanis@inbox.lv</li>
                <li>Kuldigas novads,
                    Kabiles pagasts,
                    Krāces </li>
                <div id="social">
                    <li><a href="https://www.facebook.com/glempingsKraces"><img src="/static/facebook-icon.png"></a>
                    </li>
                    <li><a href="#"><img src="/static/instagram-icon.png"></a></li>
                    <li><a href="#"><img src="/static/twitter-icon.png"></a></li>
                </div>

            </ul>
        </div>

        <div id="footer-1">
            <img src="/static/kraces-logo-3.png">
        </div>
    </footer>


</body>

</html>