{% extends 'glemping/base.html' %}
{% block title %}About us{% endblock title %}
{% block content %}
<div class="about-us">
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2175.0788399569083!2d22.366882002110305!3d56.964581980801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46efc9c508e92ca7%3A0x9e61c4f1b96db697!2sKabile%20parish!5e0!3m2!1sen!2suk!4v1612029829482!5m2!1sen!2suk&z=2"
            width="600" height="400" frameborder="0" style="border:3px black solid;" allowfullscreen=""
            aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="about">
        <h1>About us</h1>
        <p>Do you want to camp under a starry sky,
            but still enjoy comfort?
            Come to us and watch the stars in the fresh air without getting out of bed,
            but still feeling like in a tent.</p>
    </div>
</div>
{% endblock content %}